{% comment %}
    Renders a list of products from a collection

    Accepts:
    - collection: {Object} Collection Liquid object (required)

    Usage:
    {% include 'collection-grid-item', collection: collection %}
{% endcomment %}
{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.media != empty %}
  {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

<div class="collection-grid-item">
  <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
    {% unless collection_image == blank %}
    {%- assign img_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div class="collection-grid-item_image">
        <img
            class="zoom-image lazyload lazy"     
            data-src="{{ img_url }}"
            data-widths="[300, 560, 740]"
            data-aspectratio="{{ collection_image.aspect_ratio }}"
            data-sizes="auto"
            data-image
            data-parent-fit="cover"
            alt="{{ collection_image.alt | escape }}"
        />
    </div>
    {% else %}
      {% if collection == empty %}
        <div class="collection-grid-item__overlay">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div>
      {% endif %}
    {% endunless %}

    <div class="collection-grid-item__title-wrapper row">
      <div class="col-xs-6">
        <div class="subheading">Collection</div>
        <h2 class="collection-grid-item__title">
          {% if collection.title == blank %}
            {{ 'homepage.onboarding.collection_title' | t }}
          {% else %}
            {{ collection.title }}
          {% endif %}
        </h2>
        
      </div>

      <div class="col-xs-6 collection-grid-total_product text-right">
       
        {% if collection.metafields.global.description %}
        <div class="h4 italics">{{ collection.metafields.global.description }}</div>
        {% endif %}
        
      </div>
    </div>
      
  </a>
</div>
