<div id="{{ container }}-{{ product.id }}" class="{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card product-card-item">
  <a class="product-link" href="{{ product.url | within: collection }}">
    <div class="product-grid-outer">
      <div class="product-grid-inner overflow hover">
          <div class="product-badges">
            {% if product.available == false %} 
            <span class="product-badge price__badge--sold-out">
              <span>{{ 'products.product.sold_out' | t }}</span>
            </span>
            {% endif %}
            {% if product.available == true and product.compare_at_price_min > 0 %}
            <span class="product-badge price__badge--sale">
              Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%
              <!-- <span>{{ 'products.product.on_sale' | t }}</span> -->
            </span>
            {% endif %}
            {% if product.collections contains 'new' %}
            <span class="product-badge price__badge--sold-out">
              <span>{{ 'products.product.sold_out' | t }}</span>
            </span>
            {% endif %}
          </div>
          <div class="product-badges badge-tags">
            {% if product.tags contains 'new' %}
            <span class="product-badge new-arrival">
              <span>NEW!</span>
            </span>
            {% elsif product.tags contains 'best-seller' %}
            <span class="product-badge best-seller">
              <span>Best Seller</span>
            </span>
            {% elsif product.tags contains 'in-demand' %}
            <span class="product-badge demand">
              <span>In Demand</span>
            </span>
            {% endif %}
          </div>
          <div class="zoom-container lazy-container">
              <div class="image-container" data-scroll data-scroll-speed="-0.2" data-scroll-target="#{{ container }}-{{ product.id }}">
                <img class="zoom-image lazyload"
                      src="{{ product.featured_image | img_url: '50x' }}"   
                      data-srcset="{{ product.featured_image | img_url: '720x' }} 720w, {{ product.featured_image | img_url: '900x' }} 900w, {{ product.featured_image | img_url: '1080x' }} 1080w, {{ product.featured_image | img_url: '1296x' }} 1296w"
                      data-sizes="auto"
                      alt="{{ product.featured_image.alt | escape }}"
                  />
                      {% for image in product.images %}
                          {% if forloop.index0 == 1 %}
                          {%- assign img_url_hover =  image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="hover-image lazyload"
                              src="{{ image | img_url: '50x' }}"
                              data-src="{{ img_url_hover }}"
                              data-widths="[180, 360, 540, 720, 900, 1080, 1296]"
                              data-aspectratio="{{ image.aspect_ratio }}"
                              data-sizes="auto"
                              data-image
                              data-parent-fit="cover"
                              alt="{{ product.title }}"/>
                          {% endif %}
                      {% endfor %}
              </div>
          </div>
      </div>
      <div class="product-info"> 
                  {% if product.metafields.global.product_info %}
                      <p class="subheading product-time ">{{ product.metafields.global.product_info }}</p>
                  {% endif %}
                  <h2 class="h4 product-title">{{ product.title }}</h2>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  {% render 'product-price', variant: product.selected_or_first_available_variant, product: product, show_vendor: show_vendor %}
      </div>
    </div>
  </a>    
</div>
