<div data-section-id="{{ section.id }}" data-section-type="Info-section" class="info-container content-with-padding {% if section.settings.padding == "medium" %}padding-small{% endif %}">
    <style>
        .brand-info {
            background-color: {{ section.settings.color_bg }};
        }
    </style>
    <div class="info-section-outer row text-{{ section.settings.text_algin }} mobile-h-padding" data-scroll data-scroll-offset="100">
        {%- assign img_url2 = section.settings.image_bg | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 info-text-outer" data-scroll data-scroll-speed="0.2">
            {%- if section.settings.subtitle != blank -%}
                <h4 class="h4 subheading reveal-up-child" style="color: {{ section.settings.color_sub }};">{{ section.settings.subtitle | escape }}</h4>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
                <h2 class="reveal-up-child" style="color: {{ section.settings.color_title }};">{{ section.settings.title }}</h2>
            {%- endif -%}
        </div>
    </div>
    {%- if section.settings.image_bg != blank -%}
    <div class="info-section-backdrop lazyload" {%- if section.settings.image_bg -%} {% unless section.settings.image_bg.alt == blank %} role="img" aria-label="{{ section.settings.image_bg.alt | escape }}" data-alt="{{ section.settings.image_bg.alt | escape }}" {% endunless %} data-bg="{{ section.settings.image_bg | img_url: '1500x' }}" data-bgset="{% include 'bgset', image: section.settings.image_bg %}" data-sizes="auto" data-parent-fit="cover" style="background-position: {{ section.settings.h_alignment_mob }} {{ section.settings.v_alignment_mob }}; background-size: cover;  background-image: url({{ section.settings.image_bg | img_url: '1500x' }});" {%- endif -%}>
    </div>
    <noscript>
          <div class="info-section-backdrop" {% if section.settings.image_bg %} {% unless section.settings.image_bg.alt == blank %} role="img" aria-label="{{ section.settings.image_bg.alt | escape }}" {% endunless %} style="background-image: url('{{ section.settings.image_bg | img_url: '1500x' }}'); background-position: {{ section.settings.h_alignment_mob }} {{ section.settings.v_alignment_mob }};" {% endif %}></div>
    </noscript>
    {%- endif -%}
</div>



{% schema %}
{
    "name": "Brand Text",
    "class": "brand-info",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "radio",
            "id": "padding",
            "label": "Padding Size",
            "default": "medium",
            "options": [
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "background Image"
        },
        {
          "type": "header",
          "content": "Color Settings"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Background Color",
            "default": "#0C4938"
        },
        {
            "type": "color",
            "id": "color_sub",
            "label": "Subtitle Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "color_title",
            "label": "Title Color",
            "default": "#fff"
        },
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "select",
            "id": "text_algin",
            "label": "Text Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subheading",
            "default": "Subheading Text"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Info Text",
            "default": "Info Text"
        }
    ],
    "presets": [
    {
      "name": "Brand Text",
      "category": "Content"
    }
  ]
  }
{% endschema %}

