<div class="content-section-outer" style="background-color: {{ section.settings.bg }}">
  {% if section.settings.radio_page == "boxed" %}
  <div class="page-width">
  {% endif %}
  <div id="content-inner-{{ section.id }}" 
    class="content-inner row middle-md 
    {% if section.settings.radio == "right" %} reverse {% endif %}">
      <div class="content-image-outer col-xs-12 col-sm-6 col-md-{{ section.settings.select_img }} lazy-container {% if section.settings.radio == "right" %}col-md-offset-1{% endif %} {% if section.settings.image_contrast == true %}image-contrast{% endif %}">
          <div class="overflow cimg_overflow">
              <div class="image-reveal reveal-scale-child">
                  <div class="content-image-inner {% if section.settings.radio == "right" %} cimg_inn_right {% else %}cimg_inn_left{% endif %}" style="background-color:{{section.settings.stripes}};">
                    {% if section.settings.image == blank %}
                    <img src="{{'twi_ph.png' | asset_url}}">
                    {% else %}
                      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img id="content-image-{{ section.id }}"
                          class="content-image lazyload"
                          src="{{ section.settings.image | img_url: '50x' }}"
                          data-src="{{ img_url }}"
                          data-scroll-target="#content-inner-{{ section.id }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296]"
                          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                          data-sizes="auto"
                          data-image 
                          data-parent-fit="cover"
                          data-scroll data-scroll-speed="-0.5"
                          alt="{{ section.settings.image.alt | escape }}">
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
      <div class="content-text-outer col-xs-12 col-sm-6 col-md-{% if section.settings.select_text == "5" %}4{% elsif section.settings.select_text == "6" %}5{% else %}6{% endif %} {% if section.settings.radio == "left" %}col-md-offset-1{% endif %}">
          <div class="content-text-inner lazy-container mobile-h-padding" {% if section.settings.text_color_check == true %}style="color: {{ section.settings.text_color }}"{% endif %}>
                  {% include 'heading', head: section.settings.heading, subhead: section.settings.subtitle %}
                  {% if section.settings.text %}{{ section.settings.text }}{% endif %}
                  {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                      {%- capture ariaLabel -%}
                          {{- section.settings.button_label -}}
                          {%- if section.settings.button_link.type == 'frontpage_link' -%}
                              :
                              {{ 'homepage.general.title' | t -}}
                          {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                              :
                              {{ 'collections.catalog.title' | t -}}
                          {%- elsif section.settings.button_link.object.title -%}
                              :
                              {{ section.settings.button_link.object.title }}
                          {%- endif -%}
                      {%- endcapture -%}
  
                      <a href="{{ section.settings.button_link }}" class="btn btn-full-small reveal-up-child {% if section.settings.btn_style == true %}btn-light{% endif %}" aria-label="{{ ariaLabel }}">
                          {{ section.settings.button_label | escape }}
                        <span class="btn_icon"> {% include 'btn_arrow' %}</span>
                      </a>
                  {%- endif -%}
          </div>
      </div>
  </div>
  {% if section.settings.radio_page == "boxed" %}
  </div>
  {% endif %}
  
  </div>
  {% schema %}
  {
      "name": "Image & Text 50/50",
      "class": "content-with-image",
      "tag": "section",
      "settings": [
        {
          "type": "header",
          "content": "Image Settings"
        },
        
        {
          "type": "radio",
          "id": "radio_page",
          "label": "Section Width",
          "default": "full",
          "options": [
              {
                  "value": "full",
                  "label": "Full Width"
              },
              {
                "value": "boxed",
                "label": "Boxed"
              }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "checkbox",
          "id": "text_color_check",
          "label": "Use Custom Colors",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "btn_style",
          "label": "Light Button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "image_contrast",
          "label": "Image Contrast On Mobile",
          "default": false
        },
        {
          "type": "color",
          "id": "bg",
          "label": "Background",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "select_img",
          "label": "Column Width",
          "options": [
            {
              "value": "5",
              "label": "Five Columns"
            },
            {
              "value": "6",
              "label": "Six Columns"
            },
            {
              "value": "7",
              "label": "Seven Columns"
            }
          ],
          "default": "7"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Section Image"
        },
        {
          "type": "color",
          "id": "stripes",
          "label": "Section Image Borders",
          "default": "#f2f2f2"
        },
        {
            "type": "radio",
            "id": "radio",
            "label": "Image Alignment",
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": "Left Align"
                },
                {
                  "value": "right",
                  "label": "Right Align"
                }
            ]
        },
        {
          "type": "header",
          "content": "Text Settings"
        },
        {
          "type": "select",
          "id": "select_text",
          "label": "Column Width",
          "options": [
            {
              "value": "5",
              "label": "Five Columns"
            },
            {
              "value": "6",
              "label": "Six Columns"
            },
            {
              "value": "7",
              "label": "Seven Columns"
            }
          ],
          "default": "5"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading",
          "default": "Subheading Text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading Text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ],
      "presets": [
        {
          "name": "Image & Text 50/50",
          "category": "Image"
        }
      ]
    }
  {% endschema %}
  