<div class="page-with-header">
<div class="contact-template mobile-h-padding">
<div class="page-width">
    <div class="row">
    <div class="col-xs-12 col-md-5 contact-info" >
        <div class="contact-info-inner" style="background-color: {{ section.settings.color_id }}">
            {% if section.settings.office1_head != blank %}<h2 style="color: {{ section.settings.color_text }}; border-bottom: 1px solid {{ section.settings.color_text }}; padding-bottom: 15px; margin-top: 30px; margin-bottom:30px;">{{ section.settings.office1_head }}</h2>{% endif %}
          	{% if section.settings.office1 != blank %}<p style="color: {{ section.settings.color_text }};">{{ section.settings.office1 }}</p>{% endif %}
            {% if section.settings.support_head != blank %}<h2 style="color: {{ section.settings.color_text }}; border-bottom: 1px solid {{ section.settings.color_text }}; padding-bottom: 15px; margin-top: 30px; margin-bottom:30px;">{{ section.settings.support_head }}</h2>{% endif %}
            <p style="color: {{ section.settings.color_text }};">
                {% if section.settings.support_text != blank %}{{ section.settings.support_text }}<br>{% endif %}
                {% if section.settings.supprt_one != blank %}<b>{{section.settings.suprt_title_one}}:</b> {{ section.settings.supprt_one }}<br>{% endif %}
                {% if section.settings.supprt_two != blank %}<b>{{section.settings.suprt_title_2}}:</b> {{ section.settings.supprt_two }}<br>{% endif %}
                {% if section.settings.supprt_three != blank %}<b>{{section.settings.suprt_title_3}}:</b> {{ section.settings.supprt_three }}<br>{% endif %}
                {% if section.settings.supprt_four != blank %}<b>{{section.settings.suprt_title_4}}:</b> {{ section.settings.supprt_four }}<br>{% endif %}
                {% if section.settings.supprt_five != blank %}<b>{{section.settings.suprt_title_5}}:</b> {{ section.settings.supprt_five }}<br>{% endif %}
            </p>
        </div>
    </div>
    <div class="col-md-7 contact-template-form">
      <div class="">
        <div class="contact-form form-vertical">
          {%- assign formId = 'ContactForm' -%}
          {% form 'contact', id: formId %}
            {% include 'form-status', form: form, form_id: formId %}
  
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
              <div class="col-xs-12 col-sm-6">
                <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                <input
                  type="email"
                  id="{{ formId }}-email"
                  name="contact[email]"
                  autocorrect="off"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {%- if form.errors contains 'email' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                  >
                {%- if form.errors contains 'email' -%}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {%- endif -%}
              </div>
            
            <div class="col-xs-12">
                <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
                <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
            </div>
            <div class="col-xs-12">
                <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
                <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                <input type="submit" class="btn btn--secondary" value="{{ 'contact.form.submit' | t }}">
            </div>
            
            </div>
          {% endform %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
  
{% schema %}
{
  "name": "Contact Page",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner Image"
    },
    {
      "type": "color",
      "id": "overlay",
      "label": "Overlay Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "text_v",
      "label": "Desktop Text Position",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "text_h",
      "label": "Desktop Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_v_m",
      "label": "Mobile Text Position",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "text_h_m",
      "label": "Mobile Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "color_id",
        "label": "Right Section BG",
        "default": "#111"
    },
    {
        "type": "color",
        "id": "color_text",
        "label": "Right Section Text",
        "default": "#fff"
    },
    {
      "type": "header",
      "content": "Right Section Info"
    },
    {
      "type": "textarea",
      "id": "short_intro",
      "label": "Short Intro",
      "default": "Text goes here"
    },
    {
      "type": "text",
      "id": "office1_head",
      "label": "Office block heading",
      "default": "Address"
    },
    {
        "type": "text",
        "id": "office1_sub",
        "label": "Office block subheading",
        "default": "Address"
    },
    {
      "type": "richtext",
      "id": "office1",
      "label": "Office Address One"
    },
    {
        "type": "text",
        "id": "office2_sub",
        "label": "Office Two block subheading",
        "default": "Address"
    },
    {
        "type": "textarea",
        "id": "office2",
        "label": "Office Address Two"
    },
    {
        "type": "text",
        "id": "support_head",
        "label": "Support Main Heading",
        "default": "Support"
    },
    {
        "type": "textarea",
        "id": "support_text",
        "label": "Support Intro",
        "default": "You can contact us on any of the following"
    },
    {
        "type": "text",
        "id": "suprt_title_one",
        "label": "Support Title For Time",
        "default": "Hours"
    },
    {
        "type": "text",
        "id": "supprt_one",
        "label": "Support Time",
        "default": "Monday to Friday"
    },
    {
        "type": "text",
        "id": "suprt_title_2",
        "label": "Support Title For Email",
        "default": "Email"
    },
    {
        "type": "text",
        "id": "supprt_two",
        "label": "Support Email",
        "default": "example@emaple.com"
    },
    {
        "type": "text",
        "id": "suprt_title_3",
        "label": "Support Title For Chat",
        "default": "Chat"
    },
    {
        "type": "text",
        "id": "supprt_three",
        "label": "Chat Info",
        "default": "facebook/ferns"
    },
    {
        "type": "text",
        "id": "suprt_title_4",
        "label": "Support Title For HQ Phone",
        "default": "HQ Phone"
    },
    {
        "type": "text",
        "id": "supprt_four",
        "label": "HQ Phone Number",
        "default": "514-89237345"
    },
    {
        "type": "text",
        "id": "suprt_title_5",
        "label": "Support Title For Office Number",
        "default": "Office Number"
    },
    {
        "type": "text",
        "id": "supprt_five",
        "label": "Other office Number",
        "default": "514-89237345"
    }
  ]
}
{% endschema %}

  