<div class="collection-hero row">
    <div class="collection-hero__image ratio-container lazyload js"
         data-bgset="{% include 'bgset', image: section.settings.banner %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-image: url('{{ section.settings.banner | img_url: '300x300' }});">
         <div class="collection-hero__image_overlay" style="background-color: {{ section.settings.overlay }}; opacity: {{ section.settings.overlay_opacity | times: 0.01 }}"></div> 
    </div>
    <noscript>
      <div class="collection-hero__image" style="background-image: url({{ section.settings.banner | img_url: '2048x600', crop: 'top' }});"></div>
    </noscript>
    <div class="hero-page page-width hero__inner row mobile-h-padding {{ section.settings.text_v_m }}-xs {{ section.settings.text_v }}-sm {% if section.settings.text_h_m == 'center' %}center-xs {% elsif section.settings.text_h_m == 'right' %}end-xs {% else %}start-xs {% endif %} {% if section.settings.text_h == 'center' %}center-sm {% elsif section.settings.text_h == 'right' %}end-sm{% else %}start-sm{% endif %}">
      <div class="col-sm-5 col-xs-10">
          <h2 class="hero-heading reveal-up-child">
            <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
            {{ page.title }}
          </h2>
          {% if page.content != blank %}
              <div class="rte-setting hero-caption reveal-up-child">{{ page.content }}</div>
          {%- endif -%}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Faq Page",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner Image"
    },
    {
      "type": "color",
      "id": "overlay",
      "label": "Overlay Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "text_v",
      "label": "Desktop Text Position",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "text_h",
      "label": "Desktop Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_v_m",
      "label": "Mobile Text Position",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "text_h_m",
      "label": "Mobile Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}