<div id="featured-block-{{ section.id }}" class="content-with-margin" style="background-color: {{ section.settings.background }}" data-scroll data-scroll-offset="100">
    <div class="page-width mobile-h-padding {{ section.settings.alignment_head_m }}-xs {{ section.settings.alignment_head }}-sm">
        <div class="product-slider-header" data-scroll>
            <div class="">
                {%- if section.settings.subtitle != blank -%}
                    <h4 class="h4 subheading reveal-up-child">{{ section.settings.subtitle | escape }}</h4>
                {%- endif -%}
                {%- if section.settings.title != blank -%}
                    <h1 class="h2 heading reveal-up-child">{{ section.settings.title | escape }}</h1>
                {%- endif -%}
            </div>
        </div>
        <div class="row">
          {% if section.settings.collection == blank %}
          <div class="text-center col-md-12 col-12">
            <center> This section doesn't have any content please add content in theme editor.</center>
          </div>
          {% else %}
            {% paginate collections[section.settings.collection].products by section.settings.range %}
            {% for product in collections[section.settings.collection].products %}
            <div class="col-md-3 col-sm-3 col-xs-6 product-card-container product-grid{{section.id}}">
                {% render 'product-card-grid', product: product, show_vendor: section.settings.show_vendor, container: 'collection-block' %}
            </div>
            {% endfor %}
            {% endpaginate %}
          {% endif %}
        </div>
       {% if section.settings.link != blank %}
        <div class="slider-button col-xs-12">
          	<a href="{{ section.settings.link }}" class="btn" aria-label="{{ ariaLabel }}">
            {{ section.settings.btn_label | escape }}
            </a>
        </div>
       {% endif %}
    </div>  
</div> 

{% schema %}
  {
    "name": "Products Row",
    "class": "featured-collection",
    "tag": "section",
    "settings": [
    {
        "type": "header",
        "content": "Alignment"
    },
    {
        "type": "header",
        "content": "Desktop"
    },
    {
        "type": "select",
        "id": "alignment_head",
        "label": "Heading & Button Alignment",
        "options": [
            {
                "value": "start",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "end",
                "label": "Right"
            }
        ]
    },
    {
        "type": "header",
        "content": "Mobile"
    },
    {
        "type": "select",
        "id": "alignment_head_m",
        "label": "Heading & Button Alignment",
        "options": [
            {
                "value": "start",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "end",
                "label": "Right"
            }
        ]
    },
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "background",
        "label": "Background Color",
        "default": "#fff"
    },
    {
        "type": "header",
        "content": "Heading"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Subheading Text"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading Text"
    },
    
    {
        "type": "header",
        "content": "Collection"
    },
    {
        "type": "collection",
        "id": "collection",
        "label": "Product Collection",
        "info": "Select Collection to be displayed"
    },
    {
        "type": "range",
        "id": "range",
        "label": "Number of Posts",
        "min": 4,
        "max": 20,
        "step": 2,
        "default": 4
    },
    {
        "type": "header",
        "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label",
      "default": "shop all products"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    }
    ],
    "presets": [
        {
        "name": "Products Row",
        "category": "Collection"
        }
    ]
  }
{% endschema %}
