{%- if section.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
{%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
{%- endif -%}
<div data-section-id="{{ section.id }}" id="hero-section-{{ section.id }}" data-section-type="hero-section">
    <div class="hero-outer row hero-outer-{{ section.id }} {% if section.settings.layout == "hero" %}hero-style{% endif %} overflow" data-scroll>
      <div class="hero-page page-width hero__inner row mobile-h-padding {{ section.settings.text_v_m }}-xs {{ section.settings.text_v }}-sm {% if section.settings.text_h_m == 'center' %}center-xs {% elsif section.settings.text_h_m == 'right' %}end-xs {% else %}start-xs {% endif %} {% if section.settings.text_h == 'center' %}center-sm {% elsif section.settings.text_h == 'right' %}end-sm{% else %}start-sm{% endif %}">
            <div class="col-xs-12 col-sm-5 col-lg-4">
                {%- if section.settings.subtitle != blank -%}
                    <h4 class="h4 subheading reveal-up-child">{{ section.settings.subtitle | escape }}</h4>
                {%- endif -%}
                {%- if section.settings.title != blank -%}
                    <h1 class="h1 hero-heading reveal-up-child">{{ section.settings.title | escape }}</h1>
                {%- endif -%}
                {%- if section.settings.text != blank -%}
                    <div class="rte-setting hero-caption reveal-up-child">{{ section.settings.text }}</div>
                {%- endif -%}
                {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                    {%- capture ariaLabel -%}
                        {{- section.settings.button_label -}}
                        {%- if section.settings.button_link.type == 'frontpage_link' -%}
                            :
                            {{ 'homepage.general.title' | t -}}
                        {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                            :
                            {{ 'collections.catalog.title' | t -}}
                        {%- elsif section.settings.button_link.object.title -%}
                            :
                            {{ section.settings.button_link.object.title }}
                        {%- endif -%}
                    {%- endcapture -%}

                    <a href="{{ section.settings.button_link }}" class="btn hero__btn reveal-up-child" aria-label="{{ ariaLabel }}">
                        {{ section.settings.button_label | escape }}
                    </a>
                {%- endif -%}
            </div>
        </div>
      
      {% if section.settings.background_type == "image" %}
        <div class="hero-image overflow reveal-scale-child">
            <div class="hero hero-desktop hero-{{ section.id }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js" id="Hero-{{ section.id }}" data-scroll data-scroll-speed="-1.2" data-scroll-target="#hero-section-{{ section.id }}" data-layout="{{ section.settings.hero_layout }}" {%- if section.settings.image -%} {% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}" data-alt="{{ section.settings.image.alt | escape }}" {% endunless %} data-bg="{{ section.settings.image | img_url: '1500x' }}" data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto" data-parent-fit="cover" style="background-position: {{ section.settings.h_alignment }} {{ section.settings.v_alignment }}; background-size: cover;  background-image: url({{ section.settings.image | img_url: '1500x' }});" {%- endif -%}>
                {%- if section.settings.image == blank -%}
                    <div class="placeholder-background">
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {%- endif -%}
            </div>

            <noscript>
                <div class="hero hero-desktop {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}" {% if section.settings.image %} {% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}" {% endunless %} style="background-image: url('{{ section.settings.image | img_url: '1500x' }}'); background-position: {{ section.settings.h_alignment }} {{ section.settings.v_alignment }};" {% endif %}></div>
            </noscript>

            <div class="hero hero-mobile hero-{{ section.id }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js" id="Hero-{{ section.id }}" data-scroll data-scroll-speed="-1.2" data-scroll-target="#hero-section-{{ section.id }}" data-layout="{{ section.settings.hero_layout }}" {%- if section.settings.image_mob -%} {% unless section.settings.image_mob.alt == blank %} role="img" aria-label="{{ section.settings.image_mob.alt | escape }}" data-alt="{{ section.settings.image_mob.alt | escape }}" {% endunless %} data-bg="{{ section.settings.image_mob | img_url: '1500x' }}" data-bgset="{% include 'bgset', image: section.settings.image_mob %}" data-sizes="auto" data-parent-fit="cover" style="background-position: {{ section.settings.h_alignment_mob }} {{ section.settings.v_alignment_mob }}; background-size: cover;  background-image: url({{ section.settings.image_mob | img_url: '1500x' }});" {%- endif -%}>
              {%- if section.settings.image == blank -%}
                  <div class="placeholder-background">
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
              {%- endif -%}
            </div>

            <noscript>
                <div class="hero hero-mobile {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}" {% if section.settings.image_mob %} {% unless section.settings.image_mob.alt == blank %} role="img" aria-label="{{ section.settings.image_mob.alt | escape }}" {% endunless %} style="background-image: url('{{ section.settings.image_mob | img_url: '1500x' }}'); background-position: {{ section.settings.h_alignment_mob }} {{ section.settings.v_alignment_mob }};" {% endif %}></div>
            </noscript>

        </div>
      {%- elsif section.settings.background_type == "video" -%}
      <div class="hero-image overflow reveal-scale-child">
               <div class="hero hero-desktop hero-{{ section.id }}">
                  <video autoplay muted id="myVideo">
           <source src={{ section.settings.video_url }}  type="video/mp4">
         </video>
        </div>

        <div class="hero hero-mobile hero-{{ section.id }}">

         <video autoplay muted id="myMobileVideo" playsinline>
           <source src={{ section.settings.mobile_video_url }}  type="video/mp4">
         </video>
        </div>
        
      </div>
      {%- endif -%}
    </div>
</div>

<style>
  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
  
  #myMobileVideo{
    max-width: 100%;
  max -height: 100%;
  }
  
  @media only screen and (max-width: 1920px) {
 #myVideo {
  max-width: 111%;
  max-height: 111%;
}
}
</style>

{% schema %}
{
  "name": "Image with text overlay",
  "class": "hero-section overflow",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "layout"
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Select Style",
      "default": "hero",
      "info": "Select layout as per your use",
      "options": [
        {
          "value": "hero",
          "label": "Hero Style"
        },
        {
          "value": "section",
          "label": "Section Style"
        }
      ]
    },
    {
      "type": "header",
      "content": "Desktop"
    },
     
    {
      "type": "select",
      "id": "v_alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "h_alignment",
      "label": "Horizontal Image alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
{
      "type": "radio",
      "id": "background_type",
      "label": "Select Hero Background Type",
      "default": "image",
      "info": "Select layout as per your use",
      "options": [
        {
          "value": "image",
          "label": "Image Background"
        },
        {
          "value": "video",
          "label": "Video Background"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
{
  "id": "video_url",
  "type": "text",
  "label": "Web Video URL",
  "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
  "info": "Web Video URL",
  "placeholder": "Web Video URL"
  
},
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "select",
      "id": "v_alignment_mob",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "h_alignment_mob",
      "label": "Horizontal Image alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_mob",
      "label": "Image"
    },
    {
      "id": "mobile_video_url",
      "type": "text",
      "label": "Mobile Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "info": "Mobile Video URL",
      "placeholder": "Mobile Video URL"
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "text_v",
      "label": "Desktop Text Position",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "text_h",
      "label": "Desktop Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "select",
      "id": "text_v_m",
      "label": "Mobile Text Position",
      "options": [
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "text_h_m",
      "label": "Mobile Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "default": "Subheading Text"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "Heading Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
       "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
