<div class="image-with-links image-grid-blocks content-with-padding {% if section.settings.padding == "medium" %}padding-small{% endif %}" data-section-id="{{ section.id }}">
    <div class="page-width mobile-h-padding">
    <div class="section-header text-center page-width">
        <p class="h4 subheading reveal-up-child">{{ section.settings.subheading | escape }}</p>
        <h2>{{ section.settings.heading | escape }}</h2>
    </div>
    {% if section.blocks.size > 0 %}
    <div class="row middle-xs">
        {% for block in section.blocks %}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div class="col-md-2 col-sm-4 col-xs-6 text-center image-grid-block" {{ block.shopify_attributes }}>
                <a href="{{ block.settings.url }}">
                    <img
                        class="lazyload lazy"     
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        data-image
                        data-parent-fit="cover"
                        alt="{{ block.settings.image.alt | escape }}"
                    />
                    <h2 class="h4">{{ block.settings.title | escape }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
   
    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>
  
  
  {% schema %}
  {
    "name": "Image with Links",
    "max_blocks": 6,
    "settings": [
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "radio",
            "id": "padding",
            "label": "Padding Size",
            "default": "medium",
            "options": [
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Section Subheading",
            "default": "SOLUTIONS"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Section Heading",
            "default": "What do you want to fix?"
        }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "pointer",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Point Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Point Title",
                "default": "Title"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Point Link",
                "default": "/"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with Links",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
  {% endschema %}
  