<style>
  .newsletter_email_input-{{section.id}}{
    background-color: transparent;
    border-bottom: 1px solid {{ section.settings.input_color }};
    color: {{ section.settings.input_color }};
    padding-left: 0;
    padding-right: 100px;
  }

  .newsletter_email_input-{{section.id}}:focus {
    border-color: {{ section.settings.input_color }};
  }

  .newsletter-section-{{section.id}} .btn {
    color: {{ section.settings.input_color }};
  }

  .newsletter-section-{{section.id}} .btn:hover, 
  .newsletter-section-{{section.id}} .btn:active, 
  .newsletter-section-{{section.id}} .btn:focus,
  .newsletter-section-{{section.id}} .btn:visited {
    color: {{ section.settings.input_color }};
  }

  .newsletter_email_input-{{section.id}}::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:{{ section.settings.input_color }};
  }
  .newsletter_email_input-{{section.id}}::-moz-placeholder { /* Firefox 19+ */
    color:{{ section.settings.input_color }};
  }
  .newsletter_email_input-{{section.id}}:-ms-input-placeholder { /* IE 10+ */
    color:{{ section.settings.input_color }};
  }
  .newsletter_email_input-{{section.id}}:-moz-placeholder { /* Firefox 18- */
    color:{{ section.settings.input_color }};
  }


</style>

<div class="newsletter-section newsletter-section-{{section.id}}" style="background-color: {{ section.settings.bg_color }};">
  <div class="page-width mobile-h-padding content-with-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-header text-center">
          {% if section.settings.section_title != blank %}
          <h2 class="h2" style="color: {{ section.settings.title_color }};">{{ section.settings.section_title | escape }}</h2>
          {% endif %}
          {% if section.settings.subheading != blank %}
            <p class="rte" style="color: {{ section.settings.subheading_color }};">{{ section.settings.subheading }}</p>
          {% endif %}
        </div>
        {%- assign formId = 'Contact_' | append: section.id -%}
        {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
          {%- if form.posted_successfully? -%}
            <p class="form-message form-message--success" tabindex="-1" data-form-status>
              {{ 'general.newsletter_form.confirmation' | t }}
            </p>
          {%- endif -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="input-group {% if form.errors %} input-group--error{% endif %}">
            <input type="email"
              name="contact[email]"
              id="{{ formId }}-email"
              class="input-group__field{% if form.errors %} input--error{% endif %} newsletter_email_input-{{section.id}}"
              value="{{ form.email }}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
                data-form-status
              {% endif %}
              >
            <span class="input-group__btn">
              <button type="submit" class="btn btn--nomargin" name="commit" id="Subscribe">
                <span>{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </span>
          </div>
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId }}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}
        {% endform %}
      </div>
    </div>
  </div>
  {%- unless section.settings.image == blank -%}
  <div class="lazyload newsletter_bg" id="newsletter-{{ section.id }}" {%- if section.settings.image -%} {% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}" data-alt="{{ section.settings.image.alt | escape }}" {% endunless %} data-bg="{{ section.settings.image | img_url: '1500x' }}" data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto" data-parent-fit="cover" style="background-position: {{ section.settings.h_alignment }} {{ section.settings.v_alignment }}; background-size: cover;  background-image: url({{ section.settings.image | img_url: '1500x' }});" {%- endif -%}>    
  </div>
  {% if section.settings.show_overlay %}
  <div class="overlay newsletter_bg" style="background-color: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity | times: 0.01 }}"></div>
  {% endif %}
  {%- endunless -%}
</div>



{% schema %}
{
  "name": {
    "da": "Nyhedsbrev",
    "de": "Newsletter",
    "en": "Email Signup Form",
    "es": "Boletín",
    "fi": "Uutiskirje",
    "fr": "Newsletter",
    "hi": "न्यूज़लेटर",
    "it": "Newsletter",
    "ja": "ニュースレター",
    "ko": "뉴스레터",
    "nb": "Nyhetsbrev",
    "nl": "Nieuwsbrief",
    "pt-BR": "Newsletter",
    "pt-PT": "Newsletter",
    "sv": "Nyhetsbrev",
    "th": "จดหมายข่าว",
    "zh-CN": "新闻通讯",
    "zh-TW": "電子報"
  },
  "settings": [
    {
      "type": "header",
      "content": "layout"
    },
    {
      "type": "radio",
      "id": "layout_radio",
      "label": "layout style",
      "default": "full",
      "info": "Select layout type bellow",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select BG Image"
    },
    {
      "type": "select",
      "id": "v_alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "h_alignment",
      "label": "Horizontal Image alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Select Color",
      "default": "#fff",
      "info": "Select color if no background image"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show Overlay on BG",
      "default": true,
      "info": "Select if want to show overlay over BG"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Change opacity",
      "unit": "%",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 50
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Select Color",
      "default": "#fff",
      "info": "Select overlay color"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading Color",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "input_color",
      "label": "Input Color",
      "default": "#222"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Tilmeld dig vores nyhedsbrev",
        "de": "Unseren Newsletter abonnieren",
        "en": "Subscribe to our newsletter",
        "es": "Suscríbete a nuestro boletín de noticias",
        "fi": "Tilaa uutiskirjeemme",
        "fr": "S'inscrire à la newsletter",
        "hi": "हमारे न्यूज़लेटर की सदस्यता लें",
        "it": "Iscriviti alla nostra newsletter",
        "ja": "ストアからのお知らせを受け取る",
        "ko": "뉴스 레터 구독",
        "nb": "Abonner på nyhetsbrevet vårt",
        "nl": "Abonneren op onze nieuwsbrief",
        "pt-BR": "Assine a nossa newsletter",
        "pt-PT": "Subscreva a nossa newsletter",
        "sv": "Prenumerera på vårt nyhetsbrev",
        "th": "สมัครรับจดหมายข่าวของเรา",
        "zh-CN": "订阅我们的新闻通讯",
        "zh-TW": "訂閱我們的電子報"
      }
    },
    {
      "type": "textarea", 
      "id": "subheading",
      "label": {
        "da": "Underoverskrift",
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fi": "Alaotsikko",
        "fr": "Sous-titre",
        "hi": "उपशीर्षक",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "ko": "소제목",
        "nb": "Underoverskrift",
        "nl": "Subkop",
        "pt-BR": "Subtítulo",
        "pt-PT": "Subtítulo",
        "sv": "Underrubrik",
        "th": "หัวเรื่องย่อย",
        "zh-CN": "副标题",
        "zh-TW": "子標題"
      },
      "default": "A short sentence describing what someone will receive by subscribing"
    },
    {
      "type": "paragraph",
      "content": {
        "da": "Alle kunder, der tilmelder sig, får oprettet en konto i Shopify. [Se kunder](/admin/customers?query=&accepts_marketing=1)",
        "de": "Für alle Kunden, die sich anmelden, wird in Shopify ein Konto erstellt. [Kunden ansehen](/admin/customers?query=&accepts_marketing=1)",
        "en": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)",
        "es": "Todos los clientes que se registren tendrán una cuenta creada para ellos en Shopify. [Ver clientes](/admin/customers?query=&accepts_marketing=1)",
        "fi": "Tilaaville asiakkaille luodaan tili Shopify-palvelussa. [Näytä asiakkaat](/admin/customers?query=&accepts_marketing=1)",
        "fr": "Un compte sera créé dans Shopify pour les clients qui s'inscrivent. [Afficher les clients](/admin/customers?query=&accepts_marketing=1)",
        "hi": "साइन अप करने वाले किसी भी ग्राहक के पास Shopify में उनके लिए बनाया गया एक खाता होगा. [ग्राहकों की](/admin/customers?query=&accepts_marketing=1) देखें",
        "it": "Qualsiasi cliente che si iscrive avrà un account creato appositamente per lui su Shopify. [Visualizza clienti](/admin/customers?query=&accepts_marketing=1)",
        "ja": "サインアップしたお客様は、Shopifyでアカウントが作成されます。[お客様を表示する](/admin/customers?query=&accepts_marketing=1)",
        "ko": "가입한 고객은 Shopify에서 생성된 계정을 보유하게 됩니다. [고객 보기](/admin/customers?query=&accepts_marketing=1)",
        "nb": "Alle kunder som melder seg på, vil få opprettet en konto i Shopify. [Se kunder](/admin/customers?query=&accepts_marketing=1)",
        "nl": "Voor alle klanten die zich aanmelden, wordt een Shopify-account gemaakt. [Bekijk klanten](/admin/customers?query=&accepts_marketing=1)",
        "pt-BR": "Todos os clientes que se inscreverem terão uma conta criada para eles na Shopify. [Visualizar clientes](/admin/customers?query=&accepts_marketing=1)",
        "pt-PT": "Será criada uma conta na Shopify para todos os clientes que se registarem. [Ver clientes](/admin/customers?query=&accepts_marketing=1)",
        "sv": "Alla kunder som registrerar sig kommer att få ett konto skapat i Shopify. [Visa kunder](/admin/customers?query=&accepts_marketing=1)",
        "th": "ระบบจะสร้างบัญชีผู้ใช้ใน Shopify ให้แก่ลูกค้ารายที่ลงทะเบียนแล้ว [ดูลูกค้า](/admin/customers?query=&accepts_marketing=1)",
        "zh-CN": "任何注册用户都将在 Shopify 中拥有一个为他们创建的帐户。[查看客户](/admin/customers?query=&accepts_marketing=1)",
        "zh-TW": "顧客註冊後就可以擁有 Shopify 帳號。[查看顧客](/admin/customers?query=&accepts_marketing=1)"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Email Signup Form",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "hi": "न्यूज़लेटर",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      },
      "category": {
        "da": "Kampagne",
        "de": "Promotional",
        "en": "Promotional",
        "es": "Promocional",
        "fi": "Mainonnallinen",
        "fr": "Promotionnel",
        "hi": "प्रमोशनल",
        "it": "Promozionale",
        "ja": "プロモーション用",
        "ko": "프로모션",
        "nb": "Kampanjer",
        "nl": "Promotioneel",
        "pt-BR": "Promocional",
        "pt-PT": "Promocional",
        "sv": "Kampanjer",
        "th": "ส่งเสริมการขาย",
        "zh-CN": "促销",
        "zh-TW": "宣傳活動"
      }
    }
  ]
}
{% endschema %}
