
<section class="taller_hero main_hero hero__{{section.id}}">
  <div class="hero__innr">
    {% if section.settings.enable_bg %}
      <div class="th_banner th_banner_bg" style="background-image:url({% if section.settings.image != blank %}{{section.settings.image | img_url: '4000x'}} {% else %}
        {{ 'hero_ph.jpg' | asset_url }}
        {% endif %});height:{{section.settings.height}}">
        
        <div class="th_txt th_txt_bg">
          {% if section.settings.title != blank %}
          <h1 class="title hero_title th_title">{{section.settings.title}}</h1>
          {% endif %}
          {% if section.settings.text != blank %}
          <div class="th_details">
            {{section.settings.text}}
          </div>
          {% endif %}
          {% if section.settings.link != blank %}
          <div class="th_btn">
            <a href="{{section.settings.link}}" style="background:{{section.settings.btn_bg}};color:{{section.settings.btn_color}};">
              {{section.settings.label}}
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="th_banner th_banr_no_bg">
        {% if section.settings.image != blank %}
        <img src="{{section.settings.image | img_url: '4000x'}}" style="width:100%;max-width:100%;" class="desk">
        <img src="{{section.settings.mbl_image | img_url: '4000x'}}" style="width:100%;max-width:100%;display:none;" class="mob">
        {% else %}
        <img src="{{ 'hero_ph.jpg' | asset_url  }}" style="width:100%;max-width:100%;margin-bottom:-6px;" class="desk">
        <img src="{{ 'hero_ph_mbl.png' | asset_url  }}" style="width:100%;max-width:100%;display:none;" class="mob">
        {% endif %}
        
        <div class="th_txt th_txt_no_bg">
          <div class="th_txt_innr">
            
          {% if section.settings.label != blank and section.settings.link != blank %}
            <div class="th_btn">
              <a href="{{section.settings.link}}" style="background:{{section.settings.btn_bg}};color:{{section.settings.btn_color}};">
                <span>{{section.settings.label}} </span>
                <span class="btn_icon"> {% include 'btn_arrow' %}</span>
              </a>
            </div>
          {% endif %}
          </div>
        </div>
        
      </div>
    {% endif %}
  </div>
  
</section>
{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
	{
	 "type": "color",
      "label": "Button backgrond",
      "id": "btn_bg",
      "default": "#000000"
    },
	{
	 "type": "color",
      "label": "Button Text Color",
      "id": "btn_color",
      "default": "#ffffff"
    },
	{
	 "type": "checkbox",
      "label": "use image as background",
      "id": "enable_bg",
	  "default": false
    },
	{
	 "type": "text",
      "label": "Section height in case background image enabled",
      "id": "height",
	  "default": "100vh",
	  "info": "specify in vh or px. 100vh = full visible screen"
    },
	{
	 "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
	 "type": "image_picker",
      "label": "Mobile Image",
      "id": "mbl_image"
    },
	{
	 "type": "text",
      "label": "Title",
      "id": "title",
	  "default": "Title"
    },
	{
	 "type": "html",
      "label": "text details",
      "id": "text",
	  "info": "Use Html to have mutilple colors. u can use even inline styling"
    },
	{
	 "type": "text",
      "label": "label",
      "id": "label",
	  "default":"Shop"
    },
	{
	 "type": "url",
      "label": "link",
      "id": "link"
    }
	],
	"presets": [
		{
			"name": "Hero Banner",
			"category": "image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
