<style>
  #topbarvalue-section-{{ section.id }} .tvpb_img svg {
  fill:{{section.settings.text-color}}
  }
  .tbpm_details p{
    color:{{section.settings.modal_txt}};
  }
  .tbpm_img svg{
  fill:{{section.settings.modal_txt}};
  }
</style>
<section id="topbarvalue-section-{{ section.id }}" class="topvalue-section">
  <div class="topvalue-inner" style="background-color: {{ section.settings.bg }}">
    <div class="tv_vp text-center">
      {% for block in section.blocks %}
      <button type="button" id="tbp_btn_{{forloop.index}}" class="tbp_btn" onclick="myProp{{-forloop.index-}}();">
        <div class="t_vp_block">
          <div class="tvpb_img">
               {% if block.settings.image != blank %}
                <img src="{{block.settings.image | img_url: 'original' }}">
             {% else %}
               <img src="{{ 'ico.png' | asset_url  }}">
             {% endif %}
          </div>
          <div class="tvpb_txt">
            <span style="color:{{section.settings.text-color}};font-weight:300;font-size:{{section.settings.sizeb}}px;" class="h5">{{block.settings.text}}</span>
          </div>
        </div>
      </button>
      <script>
        function myProp{{-forloop.index-}}(){
          $('.tb_prop_modal').hide();
          document.getElementById("tbp_{{forloop.index}}").style.display = "block";
           $('body').addClass('fixed-width');                       
        }
      </script>
      {% endfor %}
    </div>
  </div>
    <div class="topbar_props_modals">
      {% for block in section.blocks %}
       <div class="tb_prop_modal" id="tbp_{{forloop.index}}" style="display:none;">
         <div class="tbp_modal_inner" style="background:{{section.settings.bg_modal}};">
           <div class="tbpm_close">
             <button onclick="mypropClose()" type="button">
               <span style="width:20px;fill:{{section.settings.modal_txt}}">
                 <svg viewBox="0 0 14 14" role="img" class="IconSVG-xex3jo-0 BlLuI"><title>Close</title><g fill-rule="nonzero"><path d="M.485 1.546A.75.75 0 1 1 1.545.485L13.52 12.458a.75.75 0 0 1-1.061 1.06L.485 1.547z"></path><path d="M.485 12.458a.75.75 0 1 0 1.06 1.06L13.52 1.547A.75.75 0 0 0 12.458.485L.485 12.458z"></path></g></svg>
               </span>
             </button>
           </div>
           <div class="tbpm_img">
             
               {% if block.settings.image != blank %}
                <img src="{{block.settings.image | img_url: 'original' }}">
             {% else %}
             <img src="{{ 'ico.png' | asset_url  }}">
             {% endif %}
           </div>
           <div class="tbpm_details">
             <h3 style="color:{{section.settings.modal_txt}}">{{block.settings.title}}</h3>
             <div class="tbpm_txt">
               {{block.settings.richtext}}
             </div>
           </div>
         </div>
       </div>
      {% endfor %}
    </div>
</section>
<script>
  function mypropClose(){
  $('.tb_prop_modal').hide();
    $('body').removeClass('fixed-width');  
  }
</script>
{% schema %}
    {
        "name": "Trust Badges Bar",
        "max_blocks": 6,
        "settings": [
            {
              "type": "range",
              "id": "sizeb",
              "label": {
                "en": "Custom Font Size"
              },
              "min": 10,
              "max": 20,
              "step": 1,
              "unit": "px",
              "default": 15
            },
            {
                "type": "header",
                "content": "Colors"
            },
            {
                "type": "color",
                "id": "bg",
                "label": "Background",
                "default": "#fff"
            },
			{
                "type": "color",
                "id": "text-color",
                "label": "Text Color",
                "default": "#222"
            },
            {
                "type": "color",
                "id": "bg_modal",
                "label": "Modal Background"
            },
            {
                "type": "color",
                "id": "modal_txt",
                "label": "Modal Text and icon colors"
            }
        ],
        "blocks": [
          {
            "type": "image",
            "name": "Value Prop",
            "settings": [
                {
                    "type": "header",
                    "content": "Icon"
                },
                {
                    "type": "checkbox",
                    "id": "use_svg",
                    "label": "Use Svg Icon",
					"default":true
                },
                {
                    "type": "text",
                    "id": "svg",
                    "label": "SVG Code"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Icon upload"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Icon text",
                    "default": "Lorum Ipsum"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title",
                    "default": "Lorum Ipsum"
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": "Section details"
                }
            ]
          }
        ],
        "presets": [
            {
                "name": "Trust Badges Bar",
                "category": "Image"
            }
        ]
    }
{% endschema %}
    